.App{
  justify-content: center;
  padding-left: 30%;
  height: auto;
  background-color: rgb(2, 92, 92);
}
.quote-container{
  padding-top: 40px;
  font-size: xx-large;
  color:white;
  text-align: left;
}

.default-btn{
  font-size: x-large;
  color: brown;
  background-color: aliceblue;
  text-align: center;
}
.default-btn:hover{
  background-color:chocolate;
  color: white;
}
h1{
  color: white;
}